.first-div
{
width:350px;
height : 200px;
background-color: teal;
border-width:3px;
border-color:gold;
border-radius:20%;
margin:10px;
padding:5px;
}

.normal-lines
{

color:black;
}

.normal_para
{
color:green
}

#fav-para
{
    color:purple
}

.underline
{
    text-decoration: underline;
    text-decoration-color:brown;
    text-decoration-thickness: 3px;
}

.colored-line
{
    background-color:brown;
    color:white;
    padding:2px;
    display:inline-block;
}